@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500&family=Audiowide:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading {
        @apply font-lora font-medium text-[2.88rem] md:text-[3.6rem]
        lg:text-[8.7rem]
             -tracking-[0.3px] text-white capitalize leading-[52.9px]
              md:leading-[66.7px] lg:leading-[8.9rem] my-4 lg:my-8;
    }
    .svg-box {
        @apply block border-[#ffffff28] border-[1px] w-fit p-2;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project:first-of-type {
    margin-top: 5rem;
}

.project:last-of-type {
    border: none;
}

.project-link:hover {
    transform: scale(1.05);
}

form input,
textarea {
    width: 100%;
    padding: 1.25rem;
    color: #000;
    border-radius: 5px;
}

@media (min-width: 1024px) {
    .project-link > * {
        flex-basis: 30%;
    }

    .project:first-of-type {
        margin-top: 4rem;
    }
}
